name: GitHub-Profile-3D-Contrib

on:
  schedule: # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v2
      - uses: yoshi389111/github-profile-3d-contrib@0.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.CAT_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Update README with JST timestamp
        run: |
          CURRENT_DATE=$(TZ='Asia/Tokyo' date +'%Y/%m/%d %H:%M')
          sed -i "s|Last Update: .*|Last Update: $CURRENT_DATE (JST)|" README.md

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "generated and updated timestamp" || echo "No changes to commit"
          git push